@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', "Calibri Light";
}

header, nav, nav a {
    background: #0d4c84;
    color: white;
    text-decoration: none;
}

header {
    padding: 30px 0px 0px 0px;
}

header h1 {
    margin: 15px 0px 0px 0px;
    font-size: 50px;
    text-align: center;
}

header img{
    width: 110px;
    position:absolute;
    top: 0px
}

nav ul {
    margin-top: 0px;
    padding: 0px 0px 24px 30px;
    list-style-type: none;
}

nav li {
    margin-right: 20px;
    display: inline-block;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 73%;
    margin: 0px 24px 24px 24px;
    display: inline-block;
    border-radius: 12px;
    background-color: #f3f3f3;
}

main p {
    margin: 30px 0px 0px 30px;
}

aside {
    background-color: #ddd;
    height: auto;
    width: 20%;
    margin: 20px;
    padding-bottom: 30px;
    border-radius: 12px;
    vertical-align: top;
    display: inline-block;
}

aside ul{
    list-style-type: none;
    padding-left: 25px;
}

aside li{
    margin-bottom: 4px;
}
aside h1{
    font-size: 26px;
    margin: 20px 0px 0px 20px;
}

aside a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

section{
    background-color: #ddd;
    height: auto;
    width: auto;
    margin: 20px;
    padding-bottom: 30px;
    border-radius: 12px;
    vertical-align: top;
    border: 2px solid rgba(0, 0, 0, 0);
}

section article {
    padding: 0px 22px 0px 22px;
    margin: 0px;
}

.bloqueInicio h1, .bloqueInicio h2 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0px 0px 0px;
}

.bloqueInicio h2 {
    font-size: 22px;
    margin: 8px;
}

.bloqueInicio p{
    font-size: 17px;
    margin: 16px 100px 0px 100px;
}

.bloqueFotosHistoria{
    text-align: center;
}

.bloqueFotosHistoria img, .bloqueFotosHistoria video{
    margin: 30px 10px 0px 0px;
    height: 400px;
    border-radius: 12px;
    object-fit: cover;
}

.bloqueHistoria p{
    font-size: 16px;
}

.bloqueHecho p, 

h1{
    font-size: 28px;
    margin-left: 16px;
    padding: 0;
}

h2{
    font-size: 22px;
    padding: 10px 0px 0px 16px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.bloqueImagenes{
    text-align: center;
    margin-top: 30px;
}

.bloqueImagenes img{
    width: 300px;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
}

.bloqueImagenes video{
    width: 300px;
    height: 300px;
    border-radius: 12px;
}

.bloqueTexto p{
    margin: 40px 250px 40px 250px;
    font-size: 19px;
}

figure{
    display: inline-block;
    text-align: center;
}

figcaption{
    font-style: italic;
    font-size: 18px;
}

iframe{
    border-radius: 12px;
}

form input, form select, form textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 6px;
}
form{
    margin: 22px 0px 0px 10px;
}
form #politicaPrivacidad{
    width: auto;
}

form select{
    width: 98%;
}

form button, #botonDescarga {
    background: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

form button:hover, #botonDescarga:hover {
    background: #555;
    text-decoration: none;
}

table{
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
    font-size: 16px;
}

tr, td, th{
    border: 2px solid black;
}

.bloqueContacto{
    font-size: 18px;
}

.centrar{
    text-align: center;
}

#pestañaActual{
    text-decoration: underline;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

footer a{
    color: white;
    font-size: 30px;
    padding: 20px;
}